*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{

	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: "Poppins", sans-serif;
	background-color: #e3001f;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

}

h2{

	color: #fff;
	font-size: 350px;
	line-height: 1;
	cursor: default;

}

.cursor{

	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
	mix-blend-mode: difference;
	transition: all 0.1 ease-out;
	pointer-events: none;
}

h2:hover + .cursor{

	transform: scale(23);

}

